.header {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: #52c5df;
    justify-content: space-between;
    margin-bottom: 20px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 18px;
      margin-left: 20px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(24, 80, 163);
        font-weight: 500;
      }
    }
  }
  